
<h2>Detalhes do @ViewBag.Produto.Nome</h2>

    <ul class="list-group">
        <li class="list-group-item">Id do produto: @ViewBag.Produto.Id</li>

        <li class="list-group-item">Quantidade: @ViewBag.Produto.Quantidade</li>

        <li class="list-group-item">Preço: @ViewBag.Produto.Preco</li>

        <li class="list-group-item">Descricao: @ViewBag.Produto.Descricao</li>

        <li class="list-group-item">Categoria: @ViewBag.Produto.Categoria.Nome</li>
    </ul>

<ul class="nav nav-pills pull-left">
    <li>@Html.ActionLink("Voltar", "Index", "Produto")</li>
</ul>

@{
    //podemos utilizar o método RouteLink do HtmlHelper passando o texto do link e o nome da rota para montar o link.
    //Html.ActionLink("Voltar", "Index", "Produto")
    //@Html.RouteLink("Voltar", "ListarProdutos")
}

